<table class="table">
  <div class="col-md-2">
    <label for="search">Search:</label>
    <input type="text" value="" id="search">
  </div>
  <a href="movieEdit" class="col-md-2">Add Movie</a>
  <thead class="thead-default">
    <tr>
      <th class="col-md-2">Title</th>
      <th class="col-md-2">Year</th>
      <th class="col-md-2">Genre</th>
      <th class="col-md-2">Actors</th>
      <th class="col-md-2">Rating</th>
    </tr>
  </thead>
  <tbody ng-repeat="movie in movies">
    <tr>
      <td class="col-md-2">{{movie.title}}</td>
      <td class="col-md-2">{{movie.year}}</td>
      <td class="col-md-2">{{movie.genre}}</td>
      <td class="col-md-2">{{movie.actors}}</td>
      <td class="col-md-2">{{movie.rating}}/10</td>
    </tr>
  </tbody>
</table>
