<table class="table">
  <div class="col-md-2">
    <label for="search">Search:</label>
    <input type="text" ng-model="searchText" id="search">
  </div>
  <a href="movieEdit" class="col-md-2">Add Movie</a>
  <thead class="thead-default">
    <tr>
      <th class="col-md-2">Title</th>
      <th class="col-md-2">Year</th>
      <th class="col-md-2">Genre</th>
      <th class="col-md-2">Actors</th>
      <th class="col-md-2">Rating</th>
      <th class="col-md-1"><input type="button" value="Delete Selected" ng-click="deleteMovies()"></th>
    </tr>
  </thead>
  <tbody ng-repeat="movie in movies | filter:searchText">
    <tr>
        <td class="col-md-2" ng-click="editMovie(movie.title)">{{movie.title}}</td>
        <td class="col-md-2" ng-click="editMovie(movie.title)">{{movie.year}}</td>
        <td class="col-md-2" ng-click="editMovie(movie.title)">{{movie.genre}}</td>
        <td class="col-md-2" ng-click="editMovie(movie.title)">{{movie.actors}}</td>
        <td class="col-md-2" ng-click="editMovie(movie.title)">{{movie.rating}}/10</td>
      <td class="col-md-1"><input type="checkbox" ng-model="movie.toDelete"></td>
    </tr>
  </tbody>
</table>
